{% extends 'mailing/base.html' %}
{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Skymailing</h1>
    <p class="lead">Skymailing - сервис рассылки электронных писем для ваших нужд</p>
</div>

<div class="container mb-4">
    <ul class="list-group">
        <li class="list-group-item">Всего рассылок: {{ total_mailings }}</li>
        <li class="list-group-item">Активных рассылок: {{ active_mailings }}</li>
        <li class="list-group-item">Уникальных получателей: {{ unique_receivers }}</li>
    </ul>
</div>

{% endblock %}
